.todo {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.todo input {
    margin: 10px;
}

.todo button {
    margin: 10px;
}

#content-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    margin-left: 40%;
}

#content-page div {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.task {
    color: black;
}

.task-done {
    color: red;
    text-decoration: line-through;
}

img {
    width: 15px;
    margin: 10px;
    cursor: pointer;
}

.but {
    width: 15px;
    /* border: 1px solid black; */
}

.check {
    cursor: pointer;
}