body {
  background: rgb(233, 230, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  background: rgb(189, 174, 174);
  box-shadow: 15px 10px 15px rgb(0 0 0 / 30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  width: 80%;
  height: 800px;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo input {
  margin: 10px;
}

.todo button {
  margin: 10px;
  cursor: pointer;
}

#content-page div {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.newTask {
  box-shadow: 15px 10px 15px rgb(0 0 0 / 30%);
  height: 30px;
  margin: 19px;
  padding: 5px;
  background: #ffffff66;
  border-radius: 25px;
}

.task {
  color: black;
  border: 1px black;
}

.task-done {
  color: rgb(53, 141, 58);
  text-decoration: line-through;
}

img {
  width: 15px;
  margin: 10px;
  cursor: pointer;
}

.but {
  width: 15px;
}

.check {
  cursor: pointer;
}
